/*========手风琴列表样式 开始============*/
 .accordion {
    width: 100%;
    max-width: 200px;
    margin: 0px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
 }

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 7px 15px 7px 10px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion span.left{
    float: left;
}
.accordion span.right{
    float: right;
}
/*** Submenu -----------------------------*/
 .submenu {
    display: none;
    background: #444359;
    font-size: 14px;
 }

 .submenu li {
    border-bottom: 1px solid #0F0F0F;
 }

 .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 7px;
    padding-left: 20px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
 }

 .submenu a:hover {
    background: #0F0F0F;
    color: #FFF;
 }

/*========手风琴列表样式 结束============*/

#header {
    margin: 0;
    padding: 0;
    height: 44px;
    z-index: 99;
    position: relative;
    background: #414141 url(images/topbg2.png) 0 0 repeat-x;
    border-bottom: 1px solid #e3e3e3
}
#logo {
    background: url(images/toplogo2.png) 0 0 no-repeat;
    width: 150px;
    height: 32px;
    position: absolute;
    top: 7px;
    left: 8px;
}
/* 主编辑区 */

.framebox {
    position: relative;
    margin: 0;
    padding: 0;
}
.leftside {
    position: absolute;
    width: 200px;
    /*height: 100%; */

height: 1000px;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: -2px;
    z-index: 100;
    background: #414141 url("images/blcbg.png") repeat;
    border-right: 1px solid #313131;
}
.inputbox {
    border: 1px solid #cecece;
    height: 24px;
    line-height: 24px;
    background: #fff;
    margin: 14px 10px 10px 10px;
    padding: 0;
}
.inputbox input {
    border: none;
    box-shadow: none;
    width: 134px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 4px;
}
.inputbox button {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: none;
    background: url("images/s.gif") no-repeat;
    text-indent: -9999px;
    margin: -6px 0 0 0;
}
.toggleArrow {
    position: absolute;
    left: 191px;
    top: 50%;
    margin-top: -20px;
    width: 9px;
    height: 35px;
    cursor: pointer;
}
.clo {
    background: url("images/clo2.gif") no-repeat;
}
.rightside {
    margin-left: 190px;
    padding: 10px;
    box-shadow: inset 0 1px 15px rgba(0, 0, 0, 0.4);
}
.rightside>div{
    border: 1px solid #dadada;
}
.sideholder {
    position: absolute;
    z-index: 102;
    width: 9px;
    height: 35px;
    right: 0;
    top: 50%;
    margin-top: 10px;
    cursor: pointer;
}
.sideholder.open {
    background: url("images/sopen2.gif") no-repeat;
}
.sideholder.clo {
    background: url("images/sclo2.gif") no-repeat;
}
#doorway {position:absolute;right:0;width:75px;height:20px;}
#doorway .btn-group {float:left;}
#doorway .btn-group .btn {padding:2px 6px 1px 6px;box-shadow:none;border-radius:0;border-top:none;font-weight:normal;}
#doorway .btn-group .active {background:#0088cc;color:#fff;}
