<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ueop.dao.mapper.CommoncssMapper" >
  <resultMap id="BaseResultMap" type="com.ueop.dao.pojo.Commoncss" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="clazs" property="clazs" jdbcType="VARCHAR" />
    <result column="cat" property="cat" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="log" property="log" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    name, clazs, cat, version, author, log
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ueop.dao.pojo.CommoncssExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commoncss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ueop.dao.pojo.CommoncssExample" >
    delete from commoncss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ueop.dao.pojo.Commoncss" >
    insert into commoncss (name, clazs, cat, 
      version, author, log
      )
    values (#{name,jdbcType=VARCHAR}, #{clazs,jdbcType=VARCHAR}, #{cat,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{log,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ueop.dao.pojo.Commoncss" >
    insert into commoncss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="clazs != null" >
        clazs,
      </if>
      <if test="cat != null" >
        cat,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="log != null" >
        log,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="clazs != null" >
        #{clazs,jdbcType=VARCHAR},
      </if>
      <if test="cat != null" >
        #{cat,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="log != null" >
        #{log,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ueop.dao.pojo.CommoncssExample" resultType="java.lang.Integer" >
    select count(*) from commoncss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update commoncss
    <set >
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.clazs != null" >
        clazs = #{record.clazs,jdbcType=VARCHAR},
      </if>
      <if test="record.cat != null" >
        cat = #{record.cat,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.log != null" >
        log = #{record.log,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update commoncss
    set name = #{record.name,jdbcType=VARCHAR},
      clazs = #{record.clazs,jdbcType=VARCHAR},
      cat = #{record.cat,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      log = #{record.log,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>