<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ueop.dao.mapper.TemplateMapper" >
  <resultMap id="BaseResultMap" type="com.ueop.dao.pojo.Template" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="demo" property="demo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="online" property="online" jdbcType="VARCHAR" />
    <result column="frame" property="frame" jdbcType="VARCHAR" />
    <result column="share" property="share" jdbcType="VARCHAR" />
    <result column="order" property="order" jdbcType="VARCHAR" />
    <result column="template_flag" property="templateFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, demo, name, version, author, thumbnail, online, frame, share, order, template_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ueop.dao.pojo.TemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ueop.dao.pojo.TemplateExample" >
    delete from template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ueop.dao.pojo.Template" >
    insert into template (id, demo, name, 
      version, author, thumbnail, 
      online, frame, share, 
      order, template_flag)
    values (#{id,jdbcType=INTEGER}, #{demo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{online,jdbcType=VARCHAR}, #{frame,jdbcType=VARCHAR}, #{share,jdbcType=VARCHAR}, 
      #{order,jdbcType=VARCHAR}, #{templateFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ueop.dao.pojo.Template" >
    insert into template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="demo != null" >
        demo,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="frame != null" >
        frame,
      </if>
      <if test="share != null" >
        share,
      </if>
      <if test="order != null" >
        order,
      </if>
      <if test="templateFlag != null" >
        template_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="demo != null" >
        #{demo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="online != null" >
        #{online,jdbcType=VARCHAR},
      </if>
      <if test="frame != null" >
        #{frame,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        #{share,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=VARCHAR},
      </if>
      <if test="templateFlag != null" >
        #{templateFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ueop.dao.pojo.TemplateExample" resultType="java.lang.Integer" >
    select count(*) from template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.demo != null" >
        demo = #{record.demo,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbnail != null" >
        thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="record.online != null" >
        online = #{record.online,jdbcType=VARCHAR},
      </if>
      <if test="record.frame != null" >
        frame = #{record.frame,jdbcType=VARCHAR},
      </if>
      <if test="record.share != null" >
        share = #{record.share,jdbcType=VARCHAR},
      </if>
      <if test="record.order != null" >
        order = #{record.order,jdbcType=VARCHAR},
      </if>
      <if test="record.templateFlag != null" >
        template_flag = #{record.templateFlag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update template
    set id = #{record.id,jdbcType=INTEGER},
      demo = #{record.demo,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      online = #{record.online,jdbcType=VARCHAR},
      frame = #{record.frame,jdbcType=VARCHAR},
      share = #{record.share,jdbcType=VARCHAR},
      order = #{record.order,jdbcType=VARCHAR},
      template_flag = #{record.templateFlag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ueop.dao.pojo.Template" >
    update template
    <set >
      <if test="demo != null" >
        demo = #{demo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=VARCHAR},
      </if>
      <if test="frame != null" >
        frame = #{frame,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=VARCHAR},
      </if>
      <if test="templateFlag != null" >
        template_flag = #{templateFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ueop.dao.pojo.Template" >
    update template
    set demo = #{demo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      online = #{online,jdbcType=VARCHAR},
      frame = #{frame,jdbcType=VARCHAR},
      share = #{share,jdbcType=VARCHAR},
      order = #{order,jdbcType=VARCHAR},
      template_flag = #{templateFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>