<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ueop.dao.mapper.WidgetMapper" >
  
  <resultMap id="BaseResultMap" type="com.ueop.dao.pojo.Widget" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="cat" property="cat" jdbcType="VARCHAR" />
    <result column="online" property="online" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="demo" property="demo" jdbcType="VARCHAR" />
    <result column="css" property="css" jdbcType="VARCHAR" />
    <result column="js" property="js" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="order" property="order" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, role, code, cat, online, thumbnail, demo, css, js, type, author
  </sql>
  
  <select id="getWidgetById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from widget
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getWidgetByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from widget
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="getAllWidget" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
  	from widget order by id desc
  </select>
  
</mapper>